
/* ---------------0-1400px------------ */
@media (max-width: 1400px) {
    .img-container {
        height: 44vh;
    }
}


/* -------------0-1200px----------*/

@media (max-width: 1200px) {
    .header {
        height: 70px;
    }

    #logo {
        font-size: 1.5rem;
    }

    .header nav li {
        font-size: 1.2rem;
    }

    #main th {
        font-size: 1.5rem;
    }

    .contacts-container {
        justify-content: space-between;
    }

    #contacts p {
        font-size: 1.2rem;
    }

    #contacts h2 {
        font-size: 2.2rem;
    }

    #welcome h2 {
        font-size: 3rem;
    }

    #welcome h3 {
        font-size: 2rem;
    }

    .buttons a {
        width: 310px;
        padding: 2% 0;
    }
    
    #main .buttons h3 {
        font-size: 1.4rem;
    }
}


/* -------------900+px------------ */
@media (min-width: 901px) {
    .header nav {
        display: block !important;
    }
}


/* -------------0-900px------------ */
@media (max-width: 900px) {
    .header {
        position: relative;
    }

    .header nav {
        position: absolute;
        top: 70px;
        right: 0px;

        background-color: #000000;

        width: 30%;

        display: none;
    }

    .header nav li {
        display: block;

        text-align: center;
        font-size: 20px;

        margin: 30px 0;
    }

    .menu-icon {
        display: block;


        color: white;
        font-size: 23px;
    }

    #footer div {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 25px;
    }

    #main h2 {
        font-size: 2rem;
        padding: 50px 4% 0 4%;
    }

    #main h3 {
        font-size: 1.5rem;
        padding: 0 4%;
    }

    #about-us .specialisation,
    #about-us .how-it-works {
        padding: 6%;
    }

    #our-work th,
    #our-work td {
        font-size: 1.2rem;
    }

    #our-work p {
        font-size: 0.9rem;
    }

    .project-vinarstvi,
    .project-peveko,
    .project-smr,
    .project-kasko,
    .project-zot {
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        width: 90vw;
        height: 60vh;
    }

    .contacts-container {
        flex-direction: column;
    }

    .contact-info {
        display: inline-block;
    }

    #gallery h3 {
        margin-top: 10%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .buttons a {
        width: 380px;
    }

    .buttons a:last-child {
        margin-top: 5%;
    }
}


/* ------------0-700px------------- */
@media (max-width: 700px) {
    #our-work th,
    #our-work td {
        font-size: 1rem;
        padding: 3% 0;
    }

    #about-us ul {
        font-size: 1rem;
    }

    .buttons {
        padding-top: 10%;
    }
}

/* ------------0-500px------------- */
@media (max-width: 500px) {
    .img-container {
        width: 90vw;
        height: 40vh;
    }

    #gallery h3 {
        font-size: 1rem;
        margin-top: 10%;
    }

    #welcome h2 {
        font-size: 1.5rem;
    }

    #welcome h3 {
        font-size: 1rem;
    }

    .header nav li a {
        font-size: 1rem;
    }

    .specialisation h3,
    .how-it-works h3 {
        margin-bottom: 7%;
    }

    .buttons a {
        width: 310px;
    }

    #main .buttons h3 {
        font-size: 1.3rem;
    }

    #contacts h2 {
        margin-bottom: 15%;
    }
}