
/* ---------------BASICS----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------SHARED------------------*/
* {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
  



/* ---------------HEADER---------------- */
.header {
    background-color: #15304c;
    height: 90px;
    padding: 10px 0;
    border-bottom: 1px solid white;

    position: sticky;
    left: 0;
    top: 0;

    z-index: 999;
}

.header-container {
    width: 90vw;
    margin: 0 auto;

    display: flex;
    align-items: center;
}



/* --------logo--------- */
#logo {
    flex-grow: 1;

    font-size: 2rem;
    font-weight: 700;
}

#logo a {
    color: #e0ebf7;
    text-decoration: none;
}



/* --------navigation--------- */
.header nav li {
    list-style: none;
    font-size: 1.5rem;

    display: inline-block;

    margin-right: 20px;
}

.header nav li a {
    color: white;
    text-decoration: none;
}

.header nav li:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.header nav li a:hover {
    color: #aac7e3;
}



/* --------menu-icon--------- */
.menu-icon {
    display: none;

    margin-right: 30px;
}





/* ---------------MAIN---------------- */
#main h2 {
    text-align: center;
    margin-bottom: 3%;
    font-size: 3rem;
}

#main h3,
#main th {
    font-size: 2rem;
}

#main p,
#main ul,
#main td {
    font-size: 1.5rem;
}



/* --------welcome--------- */
#welcome {
    height: calc(100vh - 70px);

    background-image: url(/assets/vinarstvi3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    margin-bottom: 3%;
}

#welcome h2,
#welcome h3 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

#welcome h2 {
    font-weight: 700;
    padding-top: 75px;
    margin-bottom: 0.5rem;
    font-size: 4rem;
}

#welcome h3 {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}



/* --------about-us--------- */
#about-us {
    color: #15304c;
    background-color: #e0ebf7;

    width: 90vw;
    margin: 7% auto;
    border-radius: 20px;
    padding: 2%;
}

.how-it-works,
.specialisation {
    padding: 2% 10%;
}

.specialisation h3,
.how-it-works h3 {
    margin-bottom: 2%;
}

#about-us ul {
    padding-left: 5%;
}

.buttons {
    display: flex;
    justify-content: space-around;

    padding: 5%;
}

.buttons a {
    padding: 1% 2%;
    color: #245281;
    border-radius: 20px;
    background-color: #85c370;
    text-decoration: none;
}

.buttons a:hover {
    transform: scale(1.1);
    transition: 0.7s;

    background-color: #a4d294;
}

/* --------our-work--------- */
#our-work {
    color: white;
    background-color: #15304c;
  
    padding: 7% 4%;
    text-align: center;
}

.our-work-container {
    width: 70vw;
    margin: 0 auto;
}

.our-work-container table {
    width: 100%;
    margin: 7% 0 1% 0;
    background-color: #204974;
}

.our-work-container thead {
    font-size: 1.2rem;
}

.our-work-container th,
.our-work-container td {
    padding: 1%;
}

.our-work-container a {
    color: #e0ebf7;
}

#our-work p {
    font-size: 1.2rem;
    text-align: left;
}


/* --------gallery--------- */
#gallery {
    width: 90vw;
    margin: 7% auto 0 auto;

    color: #15304c;

    position: relative;
}

#gallery img {
    width: 100%;
    height: 100%;

    border-radius: 20px;

    object-fit: cover;
    object-position: center;
}

#gallery h3 {
    margin: 3% 0 0.5% 3%;
}

.project-vinarstvi,
.project-peveko {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.project-smr,
.project-kasko,
.project-zot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    align-content: space-between;
}

.img-container {
    width: 44vw;
    height: 60vh;
    padding-bottom: 1%;
}

.smr-last-img {
    justify-content: center;
}

/* --------contacts--------- */
#contacts {
    width: 70vw;
    margin: 3% auto;
    border-radius: 20px;
    padding: 2%;

    text-align: center;
    color: #15304c;
    background-color: #e0ebf7;

}

.contacts-container {
    display: flex;
    gap: 2%;
    justify-content: space-around;
    width: 90%;
    margin: 5% auto 0 auto;
}

.contacts-container p {
   margin-bottom: 10%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-info span,
.company-info span {
    font-weight: 700;
}




/* ---------------FOOTER---------------- */
#footer {
    background-color: #15304c;
    padding: 20px 0;
}

#footer div {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

#footer p {
    color: #aac7e3;
    font-size: 1.2rem;
}