
/* ---------------BASICS----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------SHARED------------------*/
* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
#logo h1,
#main h2,
#about-us h3,
#welcome h2,
.our-work-container th,
.contact-info span,
.company-info span {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}



/* ---------------HEADER---------------- */
.header {
    background-color: #000000;
    height: 90px;
    padding: 15px 0;
    border-bottom: 1px solid rgb(0, 0, 0);

    position: sticky;
    left: 0;
    top: 0;

    z-index: 999;
}

.header-container {
    width: 90vw;
    margin: 0 auto;

    display: flex;
    align-items: center;
}



/* --------logo--------- */
#logo {
    flex-grow: 1;

    font-size: 2rem;
}

#logo a {
    color: #ffffff;
    text-decoration: none;
}



/* --------navigation--------- */
.header nav li {
    list-style: none;
    font-size: 1.5rem;

    display: inline-block;

    margin-right: 35px;
}

.header nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header nav li:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.header nav li a:hover {
    color: #aac7e3;
}



/* --------menu-icon--------- */
.menu-icon {
    display: none;
}





/* ---------------MAIN---------------- */
#main h2 {
    text-align: center;
    margin-bottom: 3%;
    font-size: 3rem;
}

#main h3,
#main th {
    font-size: 2rem;
}

#main p,
#main ul,
#main td {
    font-size: 1.5rem;
}



/* --------welcome--------- */
#welcome {
    height: calc(100vh - 70px);

    background-image: url(/assets/vinarstvi3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.499);
    background-blend-mode: multiply;

    margin-bottom: 3%;

    position: relative;
}

#welcome h2 {
    padding: 33vh 2% 0 2%;
    margin-bottom: 0rem;
    font-size: 4rem;
    color: #ffffff;
}

#welcome h3 {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}



/* --------about-us--------- */
#about-us {
    color: #000000;

    width: 80vw;
    margin: 7% auto;
    padding: 0 2% 2% 2%;
}

#about-us h2 {
    text-align: left;
    border-bottom: 1px solid #000;
    padding-left: 5%;
}

.how-it-works,
.specialisation {
    padding: 2% 10%;
}

.specialisation h3,
.how-it-works h3 {
    margin-bottom: 2%;
}

#about-us ul {
    padding-left: 5%;
}

.buttons {
    display: flex;
    justify-content: space-around;

    padding-top: 5%;
}

.buttons a {
    width: 380px;
    padding: 1% 1%;
    color: #000000;
    border-radius: 10px;
    background-color: #f2f2f2;
    text-decoration: none;
    text-align: center;
}

.buttons a:hover {
    transform: scale(1.03);
    transition: 0.7s;

    background-color: #b7b0b0;
}

#main .buttons h3 {
    font-size: 1.7rem;
}

/* --------our-work--------- */
#our-work {
    color: rgb(0, 0, 0);
  
    padding: 0 2% 2% 2%;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

#our-work h2 {
    text-align: left;
    border-bottom: 1px solid #000;
    padding-left: 5%;
}

.our-work-container table {
    width: 100%;
    margin: 5% 0 1% 0;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.our-work-container thead {
    font-size: 1.2rem;
}

.our-work-container th,
.our-work-container td {
    padding: 1%;
}

.our-work-container a {
    color: #000000;
}

#our-work p {
    font-size: 1.2rem;
    text-align: left;
}


/* --------gallery--------- */
#gallery {
    width: 90vw;
    margin: 7% auto 0 auto;

    color: #000000;

    position: relative;
}

#gallery h2 {
    text-align: left;
    border-bottom: 1px solid #000;
    padding-left: 5%;
}

#gallery img {
    width: 100%;
    height: 100%;

    border-radius: 20px;

    object-fit: cover;
    object-position: center;
}

#gallery h3 {
    margin: 3% 0 0.5% 3%;
}

.project-vinarstvi,
.project-peveko {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.project-smr,
.project-kasko,
.project-zot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    align-content: space-between;
}

.img-container {
    width: 44vw;
    height: 60vh;
    padding-bottom: 1%;
}

.smr-last-img {
    justify-content: center;
}

/* --------contacts--------- */
#contacts {
    width: 70vw;
    margin: 10% auto;
    border-radius: 20px;
    border: 1px solid black;
    padding: 2%;

    text-align: center;

}

.contacts-container {
    display: flex;
    gap: 2%;
    justify-content: space-around;
    width: 90%;
    margin: 5% auto 0 auto;
}

.contacts-container p {
   margin-bottom: 10%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}




/* ---------------FOOTER---------------- */
#footer {
    background-color: #000000;
    padding: 20px 0;
    margin-top: 10%;
}

#footer div {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

#footer p {
    color: #ffffff;
    font-size: 1.2rem;
}